/* styles.css */

@import url('https://fonts.googleapis.com/css2?family=Sedan+SC&display=swap');

.sedan-sc-regular {
    font-family: "Sedan SC", serif;
    font-weight: 400;
    font-style: normal;
  }
  
body {
    
    font-family: "Sedan SC", serif;
    text-align: center;
    margin: 0;
    padding: 0px;
    font-size: large;
}

.table-responsive {
    overflow-x: auto;
}


header {
    background-color: #333;
    color: #fff;
    padding: 20px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fcfcfc;
}

main {
    padding: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

